.mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $black-mask;
}

.modal {
  @extend %scroll;

  width: 100%;
  max-width: 40rem;
  padding: 3rem  2rem;
  background-color: $white;
  border-radius: $br;

  @include mobile {
    max-height: 100vh;
  }
}

.title {
  margin: 0 0 2rem;
  text-align: center;
}
