.item {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  border: solid 0.1rem $blue;
  margin-bottom: 2rem;
  border-radius: $br;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.4rem;
  color: $grey;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description {
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0.5rem 0;
}
