.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.label {
  padding: 0 0 0.4rem 0.4rem;
}

%field-area {
  padding: 0.7rem 0.5rem;
  border: solid 0.1rem $blue;
  border-radius: $br;
  font-family: $main-font;
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  resize: none;
  transition: all 0.3s linear;

  @include hover {
    box-shadow: $shadow-blue;
  }

  &:focus {
    box-shadow: $shadow-blue;
  }
}

.input {
  @extend %field-area;
}

.textarea {
  @extend %field-area;

  min-height: 8rem;
}
