%scroll {
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.3rem;
  }

  &:hover {
    scrollbar-color: $grey-light transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $grey-light;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0.6rem;
  }
}
