$black: #000;
$black-mask: #00000080;
$white: #fff;
$blue: #3db9d3;
$red: #ff5252;
$orange: #ffca28;
$green: #42b983;
$grey: #a1a0a0;
$grey-light: #b8b8b8;

$shadow-blue: 0 0 0.5rem #299cb4;
$shadow-gray: 0 6px 16px 4px #8f8d8d80;

$br: 0.4rem;

$z-index-modal: 10;
$z-index-min: 1;

$main-font: Roboto, Arial, sans-serif;
